process {
    withName: 'FASTA_10X_POLISHING_LONGRANGER_FREEBAYES:BCFTOOLS_CONSENSUS' {
        // Filter by mapping quality, keep alt-alt het and alt-alt hom,
        // keep longer allele
        ext.args = '-i\'QUAL>1 && (GT="AA" || GT="Aa")\' -Hla'
        ext.prefix = { "${meta.id}.consensus"   }
    }

    withName: 'FASTA_10X_POLISHING_LONGRANGER_FREEBAYES:BCFTOOLS_INDEX_FB' {
        ext.prefix = { "${meta.id}.${meta.chunk_id}" }
        ext.args   = { "--tbi" }
    }

    withName: 'FASTA_10X_POLISHING_LONGRANGER_FREEBAYES:BCFTOOLS_INDEX_NORM' {
        ext.prefix = { "${meta.id}.${meta.chunk_id}" }
        ext.args   = { "--tbi" }
    }

    withName: 'FASTA_10X_POLISHING_LONGRANGER_FREEBAYES:BCFTOOLS_NORM' {
        ext.prefix = { "${meta.id}.normalised"  }
        ext.args = '--no-version'
    }

    withName: 'FASTA_10X_POLISHING_LONGRANGER_FREEBAYES:BCFTOOLS_SORT' {
        ext.prefix = { "${meta.id}.${meta.chunk_id}_sorted" }
        scratch = true
    }

    withName: 'FASTA_10X_POLISHING_LONGRANGER_FREEBAYES:BCFTOOLS_VIEW' {
        ext.prefix = { "${meta.id}.${meta.chunk_id}_view" }
        // Dont keep command line information, keep reference allele or
        // suggested alternative if reference is N
        ext.args = '--no-version -e\'type="ref"||REF~"N"\''
    }

    withName: 'FASTA_10X_POLISHING_LONGRANGER_FREEBAYES:FREEBAYES' {
        ext.prefix = { "${meta.id}" }
        ext.args   = { "--skip-coverage ${meta.longranger_cov}" }
    }

    withName: 'FASTA_10X_POLISHING_LONGRANGER_FREEBAYES:GATK4_MERGEVCFS' {
        ext.prefix = { "${meta.id}.merged" }
    }

    withName: 'FASTA_10X_POLISHING_LONGRANGER_FREEBAYES:LONGRANGER_ALIGN' {
        // Internally accessible to for Sanger only
        container = { env('GITHUB_ACTION') ?
            "ghcr.io/sanger-tol/longranger:2.2.2-c5" :
            "gitlab-registry.internal.sanger.ac.uk/tol-it/software/docker-images/longranger:2.2.2-c5"
        }

        ext.args = "--disable-ui --nopreflight"
    }

    withName: 'FASTA_10X_POLISHING_LONGRANGER_FREEBAYES:LONGRANGER_MKREF' {
        // Internally accessible to for Sanger only
        container = { env('GITHUB_ACTION') ?
            "ghcr.io/sanger-tol/longranger:2.2.2-c5" :
            "gitlab-registry.internal.sanger.ac.uk/tol-it/software/docker-images/longranger:2.2.2-c5"
        }

        ext.args = "--disable-ui --nopreflight"
    }

    withName: 'FASTA_10X_POLISHING_LONGRANGER_FREEBAYES:SEPARATE_HAPLOTYPES' {
        ext.prefix = { "${meta.id}.${meta._hap}" }
        ext.args   = {
            def hap1_pattern = '^h1tg|^ptg'
            def search_type = meta._hap == "hap1" ? "-rp" : "-rvp"

            return "\"${search_type} ${hap1_pattern}\""
        }
    }

}
