nextflow.enable.moduleBinaries = true

process {
    withName: MINIMAP2_ALIGN {
        ext.args = {"-x ${meta.readtype.equals("hifi") ? "map-hifi" : meta.readtype.equals("clr") ? "map-pb" : meta.readtype.equals("ont") ? "map-ont" : meta.readtype.equals("illumina") ? "sr" : ""} -N 1 -c ${reference.size() > 2.5e9 ? (" -I" + Math.ceil(reference.size()/1e9)+"G") : ""}" }
        ext.prefix  = { "${meta.id}_alignment_${reads.getName().split('.fasta.gz|.fa.gz')[0]}" }
    }
}
