nextflow.enable.moduleBinaries = true

process {
    withName: GAWK_FIX_WINDOWS {
        ext.prefix      = { "${input.baseName[0]}.fixed" }
        ext.suffix      = { "bed" }
    }

    withName: TELOMERE_FINDTELOMERE {
        ext.args = { "${params.find_telomere_args}" }
        ext.args2 = { "${params.java_args}" }
    }

    withName: HTSLIB_BGZIPTABIX {
        ext.prefix = { infile.name }
        ext.args2 = { "${params.bgzip_args}" }
    }
}
