includeConfig '../nextflow.config'

process {
    withName: FINDTELOMERE {
        ext.args = { "${params.find_telomere_args}" }
        ext.args2 = { "${params.java_args}" }
    }

    withName: HTSLIB_BGZIPTABIX {
        ext.prefix = { infile.name }
        ext.args2 = { "${params.bgzip_args}" }
    }
}
