nextflow.enable.moduleBinaries = true

process {
    withName: TELOMERE_WINDOWS {
        ext.telomere_jar    = { "${moduleDir}/resources/usr/bin/telomere.jar" }
    }

    withName: GAWK {
        ext.args2           = { "${params.gawk_args}" }
        ext.suffix          = { "split.telomere" }
    }
}
