nextflow.enable.moduleBinaries = true

process {
    withName: BEDTOOLS_BAMTOBEDSORT {
        ext.prefix = { "${meta.id}.${meta.bam_idx}" }
    }
    withName: CONTACTBED {
        ext.prefix = { "${meta.id}.${meta.bam_idx}" }
    }
    withName: GENERATE_CONTACTS_INDEX {
        ext.prefix = { "${meta.id}.${meta.bam_idx}" }
    }
    withName: COOLER_CLOAD {
        ext.prefix = { "${meta.id}.${meta.bam_idx}"  }
        ext.args   = { "${params.cooler_cload_args}" }
    }
}
