nextflow.enable.moduleBinaries = true

process {
    withName: BEDTOOLS_BAMTOBEDSORT {
        ext.prefix = { "${bam.getName()}" }
    }
    withName: CONTACTBED {
        ext.prefix = { "${file.getName()}" }
    }
    withName: GENERATE_CONTACTS_INDEX {
        ext.prefix = { "${contacts.getName()}" }
    }
    withName: COOLER_CLOAD {
        ext.prefix = { "${contacts.getName()}" }
        ext.args = { "${params.cooler_cload_args}"     }
    }
}
