
process {
    withName: BLAST_BLASTN {
        ext.args = { "${params.blastn_args}" }
    }

    withName: 'BLAST_MAKEBLASTDB' {
        ext.args = { "${params.makeblastdb_args}" }
    }

    withName: FQ2CRAM_TRIM {
        ext.args = { "${params.fq2cram_args}" }
    }

    withName: FQ2CRAM_UNTRIM {
        ext.args = { "${params.fq2cram_untrim_args}" }
    }

    withName: HIFITRIMMER_FILTERBAM {
        ext.args = { "${params.hifitrimmer_args}" }
    }

    withName: LIMA {
        ext.args = { "${params.lima_args}" }
    }

    withName: PBMARKDUP {
        ext.prefix = { "${meta.id}_pbmarkdup"   }
        ext.args = { "${params.pbmarkdup_args}" }
    }

    withName: SAMTOOLS_FASTA {
        ext.args = { "${params.samtools_fasta_args}" }
    }

    withName: SAMTOOLS_FASTQ {
        ext.args = { "${params.samtools_fastq_args}" }
    }

    withName: SAMTOOLS_VIEW {
        ext.args = { "${params.samtools_view_args}" }
    }
}
