nextflow.enable.moduleBinaries = true

process {
    withName: BUSCO_BUSCO {
        ext.tag     = { "${meta.id}-${meta.lineage}" }

        // Obey "use_work_dir_as_temp", except for large genomes
        scratch = { !params.use_work_dir_as_temp || (meta.genome_size < 2000000000) }
        ext.args = '--force'
    }

    withName: "RESTRUCTUREBUSCODIR" {
        publishDir = [
            path: { meta.outdir ?: (params.outdir + "/${meta.id}") },
            mode: params.publish_dir_mode,
        ]
    }

}
