process {

    // READ COVERAGE
    withName: ".*:REPEAT_DENSITY:UCSC_BEDGRAPHTOBIGWIG" {
        ext.prefix      = { "${meta.id}_repeat_density" }
    }

    withName: '.*:READ_COVERAGE:MINIMAP2_ALIGN' {
        ext.args    = { "-ax map-ont --cs=short" }
        ext.args2   = { "-T ${meta.id}_tmp" }
        ext.prefix  = { "${meta.id}_alignment_${reference.getName().tokenize('.')[0]}" }
    }

    withName: ".*:READ_COVERAGE:BEDTOOLS_GENOMECOV" {
        ext.prefix  = { "${meta.id}" }
        ext.args    = { "-bg" }
    }

    // GAP FINDER
    withName: SEQTK_CUTN {
        ext.args    = "-n 1"
    }

    withName: ".*:GAP_FINDER:GAWK_GAP_LENGTH" {
        ext.suffix = 'gap.bedgraph'
    }

    // REPEAT_DENSITY - REPEAT DENSITY

    withName: BEDTOOLS_INTERSECT {
        ext.prefix  = { "${meta.id}_INTERSECT" }
    }

    withName: BEDTOOLS_MAKEWINDOWS {
        ext.args    = { "-w 10000" }
    }

    withName: BEDTOOLS_MAP {
        ext.prefix  = { "${meta.id}_MAPPED" }
        ext.args    = { "-c 4 -o sum" }
    }

    withName: GNU_SORT_A {
        ext.args    = { "-k1,1 -k2,2n" }
        ext.suffix  = { "intersect" }
    }

    withName: GNU_SORT_B {
        ext.args    = { "-k1,1 -k2,2n" }
        ext.suffix  = { "genome" }
    }

    withName: GNU_SORT_C {
        ext.args    = { "-k1,1 -k2,2n" }
        ext.suffix  = { "bins" }
    }

    withName: 'GAWK_RENAME_IDS' {
        ext.suffix = '_renamed.bed'
    }

    withName: 'GAWK_REPLACE_DOTS' {
        ext.args2 = "'{ gsub(/\\./, \"0\"); print}'"
        ext.suffix = '_nodot.bed'
    }

    withName: 'GAWK_REFORMAT_INTERSECT' {
        ext.args2 = "'{ gsub(/\\./, \"0\"); printf \"%s\\t%.0f\\n\", \$0, sqrt((\$3 - \$2) * (\$3 - \$2))}'"
        ext.suffix = 'bed'
    }

}
