nextflow.enable.moduleBinaries = true

process {

    withName: BIOAWK {
        ext.args = { "-c fastx \'{s = toupper($seq); copy_s = s; g = gsub(/G/, \"\", s); pct = 100*g/length(copy_s); rev = (pct < 30); out = rev ? revcomp(\$seq) : \$seq; printf \"%s\t%d\t%.2f\t%s\t%s\\n\", out, g, pct, (rev ? \"true\" : \"false\"), copy_s }\'" }
    }

    withName: TELOMERE_WINDOWS {
        tag         = { "${meta.id}_${meta.direction}P" }
        ext.args    = "99.9"
        ext.prefix  = { "${meta.id}_${meta.direction}P" }
    }

    withName: TELOMERE_EXTRACT {
        tag         = { "${meta.id}_${meta.direction}P" }
        ext.prefix  = { "${meta.id}_${meta.direction}P" }
    }

    withName: GAWK_SPLIT_TELOMERE {
        ext.prefix  = "direction"
        ext.suffix  = "telomere"
    }

    withName: TABIX_BGZIPTABIX {
        ext.args2  = "--csi"
    }
}
