nextflow.enable.moduleBinaries = true

process {

    withName: BIOAWK {
        ext.args = { "-c fastx" }
    }

    withName: FINDTELOMERE {
        tag         = { "${meta.id}" }
        ext.args    = "99.9 0.1"
        ext.prefix  = { "${meta.id}" }
    }

    withName: TELOMERE_EXTRACT {
        tag         = { "${meta.id}_${meta.direction}P" }
        ext.prefix  = { "${meta.id}_${meta.direction}P" }
    }

    withName: GAWK_SPLIT_TELOMERE {
        ext.prefix  = "direction"
        ext.suffix  = "telomere"
    }

    withName: TABIX_BGZIPTABIX {
        ext.args2  = "--csi"
    }
}
