nextflow.enable.moduleBinaries = true

process {
    withName: BUSCO_BUSCO {
        // Overwrite the tag so we can see what is running
        tag         = { "${meta.id}-${meta.lineage}" }
        ext.args    = '--force'
    }

    withName: APISCRIPTS_GETLINEAGEODBS {
        ext.args = { "--odb_version odb10 --extra_lineages lepidoptera --print_output" }
    }

}
