nextflow.enable.moduleBinaries = true

process {
    withName: BUSCO_BUSCO {
        // Overwrite the tag so we can see what is running
        tag         = { "${meta.id}-${meta.lineage}" }
        ext.args    = '--force'
    }

    withName: API_SCRIPTS_GET_LINEAGE_ODBS {
        ext.args = { "--odb_version odb10 --mode latest --print_output" }
    }

}
