process {
    withName: TABIX_BGZIP {
        // To get the .gzi index created
        ext.args = "-i"
    }
    withName: TABIX_TABIX_CSI {
        // --csi is the minimum needed
        ext.args = "--csi"
        // Add --preset or --sequence/--begin/--end to match the actual TSV file, e.g.
        // ext.args = "--preset bed --csi"
    }
    withName: TABIX_TABIX_TBI {
        // No --tbi because TBI is the default format
        // Set --preset or --sequence/--begin/--end to match the actual TSV file, e.g.
        // ext.args = "--preset bed"
    }
}
