name: Run Linting
on:
  pull_request:
    branches: [main]
  merge_group:
    types: [checks_requested]
    branches: [main]
  workflow_dispatch:
    inputs:
      runners:
        description: "Runners to test on"
        type: choice
        options:
          - "ubuntu-latest"
          - "self-hosted"
        default: "self-hosted"

# Cancel if a newer run is started
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  NXF_SINGULARITY_CACHEDIR: ${{ github.workspace }}/.singularity
  NXF_SINGULARITY_LIBRARYDIR: ${{ github.workspace }}/.singularity
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  # renovate: datasource=github-releases depName=nextflow/nextflow versioning=semver
  NXF_VER: "25.04.8"

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Run prek
        uses: j178/prek-action@91fd7d7cf70ae1dee9f4f44e7dfa5d1073fe6623 # v1

  ###################
  # nf-core linting #
  ###################
  # TODO Move these to pre-commit
  # https://github.com/nf-core/tools/pull/3141
  nf-core-changes:
    name: nf-core-changes
    runs-on: ubuntu-latest
    outputs:
      # https://github.com/dorny/paths-filter?tab=readme-ov-file#custom-processing-of-changed-files
      modules: ${{ steps.filter.outputs.modules }}
      modules_files: ${{ steps.module_names.outputs.result }}
      subworkflows: ${{ steps.filter.outputs.subworkflows }}
      subworkflows_files: ${{ steps.subworkflow_names.outputs.result }}
    steps:
      - name: Clean workspace
        run: |
          sudo rm -rf ./* || true
          sudo rm -rf ./.* || true

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 2 # To retrieve the preceding commit.

      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3
        id: filter
        with:
          filters: |
            modules:
              - added|modified: 'modules/sanger-tol/**'
            subworkflows:
              - added|modified: 'subworkflows/sanger-tol/**'
          token: ""
          list-files: "json"

      - name: Get module name
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        id: module_names
        with:
          script: |
            return [...new Set(${{ steps.filter.outputs.modules_files }}
              .filter(x => x.endsWith('main.nf') || x.endsWith('.nf.test.snap'))
              .map(path => path
                .replace('modules/sanger-tol/', '')
                .replace(/\/(main\.nf|tests\/.*)$/, '')
              )
            )];
      - name: Get subworkflow name
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        id: subworkflow_names
        with:
          script: |
            return [...new Set(${{ steps.filter.outputs.subworkflows_files }}
              .filter(x => x.endsWith('main.nf') || x.endsWith('.nf.test.snap'))
              .map(path => path
                .replace('subworkflows/sanger-tol/', '')
                .replace(/\/(main\.nf|tests\/.*)$/, '')
              )
            )];

      - name: debug
        run: |
          echo ${{ steps.filter.outputs.modules_files }}
          echo ${{ steps.module_names.outputs.result }}
          echo ${{ steps.filter.outputs.subworkflows_files }}
          echo ${{ steps.subworkflow_names.outputs.result }}

  nf-core-lint-modules:
    runs-on: ubuntu-latest
    name: nf-core lint modules
    needs: nf-core-changes
    if: ${{ needs.nf-core-changes.outputs.modules_files != '[]' }}
    strategy:
      fail-fast: false
      matrix:
        module: ${{ fromJson(needs.nf-core-changes.outputs.modules_files || '[]') }}
    steps:
      - name: Clean workspace
        run: |
          sudo rm -rf ./* || true
          sudo rm -rf ./.* || true
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: "3.14"

      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
        id: cache-pip
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip
          restore-keys: |
            ${{ runner.os }}-pip

      - name: Install pip
        run: python -m pip install --upgrade pip

      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Set up Nextflow
        uses: nf-core/setup-nextflow@v2

      - name: Install nf-core tools development version
        run: python -m pip install --upgrade --force-reinstall git+https://github.com/nf-core/tools.git@dev

      - name: Lint module ${{ matrix.module }}
        run: nf-core modules --git-remote https://github.com/sanger-tol/nf-core-modules.git lint ${{ matrix.module }}

  nf-core-lint-subworkflows:
    runs-on: ubuntu-latest
    name: nf-core lint subworkflows
    needs: nf-core-changes
    if: ${{ needs.nf-core-changes.outputs.subworkflows_files != '[]' }}
    strategy:
      fail-fast: false
      matrix:
        subworkflow: ${{ fromJson(needs.nf-core-changes.outputs.subworkflows_files || '[]') }}
    steps:
      - name: Clean workspace
        run: |
          sudo rm -rf ./* || true
          sudo rm -rf ./.* || true
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: "3.14"

      - name: Set up Nextflow
        uses: nf-core/setup-nextflow@v2

      - name: Install nf-core tools development version
        run: python -m pip install --upgrade --force-reinstall git+https://github.com/nf-core/tools.git@dev

      - name: Lint subworkflow ${{ matrix.subworkflow }}
        run: nf-core subworkflows --git-remote https://github.com/sanger-tol/nf-core-modules.git lint ${{ matrix.subworkflow }}

  confirm-pass-lint:
    runs-on: ubuntu-latest
    needs: [nf-core-lint-modules, nf-core-lint-subworkflows]
    if: always()
    steps:
      - name: All tests ok
        if: ${{ success() || !contains(needs.*.result, 'failure') }}
        run: exit 0
      - name: One or more tests failed
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1

      - name: debug-print
        if: always()
        run: |
          echo "toJSON(needs) = ${{ toJSON(needs) }}"
          echo "toJSON(needs.*.result) = ${{ toJSON(needs.*.result) }}"
